$blockWhitecolor: #fff;
$blockNumberfont: "Muller Heavy";

// Header
$headerLogofont: "OpenSans Extra Bold";
$headerMenucolor: #333333;
$headerMenufont: "OpenSans Semi Bold";
$headerBtncolor: #fb0275;
$popupTitlefont: "OpenSans Italic";
$headerHeadingfont: "Muller Extra Bold";
$headerDescfont: "Muller Medium";
$headerSubfont: "OpenSans Regular";

// About block

$aboutHeadingfont: "Muller Bold";
$aboutHeadingcolor: #7f38bd;
$aboutSubcolor: #383d52;
$aboutTextcolor: #5e606a;
$aboutTextfont: "OpenSans Regular";
$aboutSchemebg: #f0e2ff;

// Services block

$servicesBgcolor: #faf8fb;

// Poligraf Block
$poligrafFormcolor: #383d52;

$poligrafInputcolor: #b2b3bb;

// Testimonials block
$testiVkcolor: #6fade4;

// FAQ block

$faqFormbg: #883eca;

// Footer Block

$footerBgcolor: #65269d;
$footerTextfont: "OpenSans Regular";
