section.faq-wrap 
	.container
		.block__heading 4. Частые вопросы (FAQ)
		.faq 
			ul.faq__list
				li 
					|
					span.faq__title Что такое макет?
					|
					|
					span.faq__text Макет — это будущее печатное изделие в электронном формате. Верстают (собирают) макет в специализированном программном обеспечении.  
				li 
					|
					span.faq__title У меня есть готовый макет
					|
					|
					span.faq__text Вы можете привезти его к нам в офис на любом удобном для вас носителе (диск, флешка). В присутствии вас мы обработаем ваш макет и отправим его в производство.
				li 
					|
					span.faq__title У меня нет макета
					|
					|
					span.faq__text В нашем штате работают професиональные дизайнеры, которые с ваших слов или в вашем присутствии сверстают макет, который после утверждения также будет отправлен в печать.
				li 
					|
					span.faq__title Сколько времени занимает печать?
					|
					|
					span.faq__text В том случае если изображение готово к печати, изготовление занимает около 3 часов. Также время изготовления зависит от нашей загруженности.
				li 
					|
					span.faq__title Я не могу приехать к вам в офис
					|
					|
					span.faq__text Отправьте нам изображение по электронной почте, укажите свой телефон. Мы свяжемся с вами для уточнения деталей. Готовое изделие мы доставим вам курьером.
				li 
					|
					span.faq__title Вызов курьера бесплатный?
					|
					|
					span.faq__text В зависимости от соимости заказа, курьер может доставить вам продукцию бесплатно (при соимости от 600 руб.) или от 150 руб. в пределах Ярославля и до 500 руб. в пределах Ярославской области.
			.faq__form
				.faq-form__title Есть вопросы? 
				.faq__subtitle Оставьте заявку на консультацию
				form(action="#")
					input(type="text" class="poligraf__name" placeholder="имя")
					input(type="text" class="poligraf__phone" placeholder="телефон") 
					a.faq__btn(href="#") отправить