section.interier-wrap
			.block__number 2
			.interier__image   
				.container 
					.interier 
						.interier__content 
							.block__subtitle Широкоформатная печать для вашего интерьера
							.block__text
								span Печатаем широкоформатные фотографии на глянцевой и
								| матовой фотобумаге разной плотности, на глянцевом и матовом 
								| холсте или на самоклеющейся пленке. также можем предложить обработку
								| и редактирование ваших фотографий силами наших дизайнеров: композиции,
								| фотоколлаж, ретушь, различные эффекты
							a.interier__btn(href="#") Оставить заявку
					
