section.poligraf-wrap
	.block__line
	.block__number 3
	.container 
		.poligraf 
			.poligraf__content 
				.block__subtitle Оперативная полиграфия — от визитки до баннера
				.block__text
							span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							|
							| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
							|
							| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							| 
							| Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							| 
							span Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
							|
							| officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error. 
			.poligraf__image 
				img(src="images/poligraf-img.webp", alt="poligraf")
			.poligraf__form 
				.poligraf__title Есть вопросы? 
				.poligraf__subtitle Оставьте заявку на консультацию
				form(action="#")
					input(type="text" class="poligraf__name" placeholder="имя")
					input(type="text" class="poligraf__phone" placeholder="телефон") 
					a.poligraf__btn(href="#") отправить
				
				 
		