section.testimonials-wrap 
		.container 
			.block__heading 3. отзывы
		.testimonials 
			.testimonials-slider 
				.testimonials__item
					.testimonials__block 
						.testimonials__img 
							img(src="images/testimonials-1.png", alt="user")
						.testimonials__text Обратился в компанию АртАктив за визитками.
							| Это мой первый опыт, поэтому немного нервничал, не знал, 
							| с чего начать.Остался доволен, потому что мне всё объяснили,
							| показали и сделали по высшему разряду. Советую!
							.testimonials__name александров максим, 24 года
							a.testimonials__acc(href="vk.com/mr.sharp") vk.com/mr.sharp 
				.testimonials__item 
					.testimonials__block 
						.testimonials__img 
							img(src="images/testimonials-1.png", alt="user")
						.testimonials__text Обратился в компанию АртАктив за визитками.
							| Это мой первый опыт, поэтому немного нервничал, не знал, 
							| с чего начать.Остался доволен, потому что мне всё объяснили,
							| показали и сделали по высшему разряду. Советую!
							.testimonials__name александров максим, 24 года
							a.testimonials__acc(href="vk.com/mr.sharp") vk.com/mr.sharp 
			